.name {
  background-color: rgb(59, 175, 156);
  color: white;
  font-size: 10px;
}



.number {
  background-color: orange;
  font-size: 18px;
}

.time {
  background-color: rgb(35, 16, 204);
  font-size: 18px;
}

.tableName {
  background-color: rgb(175, 177, 47);
  font-size: 18px;
}

.table {
  border: 2;
}
